body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root,
[tabindex='-1'] {
  height: 100%;
}

.fade-notif-enter {
  opacity: 0;
}
.fade-notif-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-notif-exit {
  opacity: 1;
}
.fade-notif-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

@keyframes toast {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.4);
    animation-timing-function: ease-in-out;
  }
  8% {
    opacity: 1;
    transform: translateY(-10px) scale(1.04);
    animation-timing-function: ease-out;
  }
  13% {
    opacity: 1;
    transform: none;
    animation-timing-function: ease-in;
  }
  95% {
    opacity: 1;
    transform: translateY(10px);
    animation-timing-function: ease-in;
  }
  to {
    opacity: 0;
    transform: translateY(50px) scale(0.6);
  }
}
